body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:lavender;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

header {
    background-color:#10c6cf;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header h2 {
    margin: 0;
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    background-color: #2a2a2a;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 0;
    font-size: 28px;
}

#contact-form {
    background-color: #3a3a3a;
    padding: 30px;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #4a4a4a;
    color: #fff;
}

#contact-form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #5a5a5a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-info {
    background-color: #2a2a2a;
    padding: 30px;
}

#contact-info p {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}

footer p {
    margin: 0;
}