body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
 
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    
}

header{
    background-color: #10c6cf;
    color: #fff;
    padding: 20px;
    
}

header h1 {
    margin: 0;

}
.front a:hover{
    color: fuchsia;
}

header h2 {
    margin: 0;
    font-size: 24px;
}

header h4 {
    margin: 0;
    font-size: 18px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    
    align-items: center;
    padding: 20px;
}

section {
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 50px;
    width: 250px;
}

h2 {
    margin: 0;
}

#shakti-mission {
    background-color: #f2f2f2;
    padding: 30px;
    
}

#shakti-mission h2 {
    font-size: 28px;
    color: #333;
}

#shakti-mission p {
    font-size: 18px;
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}

footer nav ul {
    justify-content: center;
}

footer nav a {
    color: #fff;
    text-decoration: none;
}
.front{
    display: flex;
    margin: auto;
    background-color: lavender;
    width: 100%;
    padding-left: 55px;
    padding-top: 20px;
    
   

    
}
.lower{
    width: 100%;
    height: 500px;
    
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center;
}
