body{
    
    
        background-color: #9a40da;
       }

#A{
    text-align: center;
}
p{
    text-align: center;
    size: 0dvb;
}
#L{
    text-size-adjust: 100px;
}
section{
    text-align: center;
    text-size-adjust: 1000px;
}
table, th, td {
    border: 1px solid rgb(10, 1, 1);
    border-collapse: collapse;
}
table.center {
        margin-left: auto;
        margin-right: auto;
     }
#L{
    text-size-adjust: 100px;
    text-align: center;
    -webkit-text-fill-color: aqua;
}
#Q{
    background-color: aquamarine;
}
#W{
   width: 100px;
   height: 100px;
   border: 0cap;
}
